@model IEnumerable<VoXuanTu_BigSchool1.Models.Course>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
        <li>
            @course.DateTime - @course.Lecturer.Name Vo Xuan Tu(Static)
        </li>
        }
    </ul>
</div>